{% extends 'tacks_education_system/tacks_education_system_base_template.html' %}
{% load static %}

{% block document_title %}Оценивание задач{% endblock %}

{% block main %}
    <section class="estimate-tasks__header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h4 class="text-center" style="font-size: 40px;padding-bottom: 10px;">Оценивание задач</h4>
                </div>
            </div>
        </div>
    </section>

    <section class="estimate-tasks__change-languages pt-5">
        <div class="container">
            <div class="row">
                <div class="col-12 pb-2 text-center text-md-left">
                    <h4>Изменить известные языки</h4>
                </div>
            </div>
            <div class="row">

                <div class="col d-flex d-md-block flex-column align-items-center">
                    <div id="estimate-tasks__change-languages__loader" class="d-none align-items-center justify-content-center"
                        style="position:absolute;height:100%;width:100%;background:rgba(255, 255, 255, 0.8);border-radius:0.4em;z-index:999;">
                        <div class="spinner-border text-info"
                            role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>

                    <div id="estimate-tasks__change-languages__buttons">
                        {% for lang in lang_list %}
                            {% if lang in user.puples.task_education_addition_data.known_languages %}
                                <button type="button" class="btn btn-outline-info my-1 active">{{lang}}</button>
                            {% else %}
                                <button type="button" class="btn btn-outline-info my-1">{{lang}}</button>
                            {% endif %}
                        {% endfor %}
                    </div>

                    <div id="estimate-tasks__change-languages__submit" class="mt-3">
                        {% csrf_token %}
                        <div class="invalid-feedback mb-1" id="estimate-tasks__change-languages__submit__empty-error-label">
                            Нужно отметить хотя бы 1 язык
                        </div>
                        <button id="estimate-tasks__change-languages__submit__button" type="button" class="btn btn-outline-success">Изменить</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

     <section class="estimate-tasks__tasks-section" style="padding-top: 55px">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h4 class="text-center" style="font-size: 40px;padding-bottom: 10px;">На оценивании</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    {% for estimated_task in estimated_tasks %}
                        {% if estimated_task.first_peer_mark is None and estimated_task.first_peer == user.puples or estimated_task.second_peer_mark is None and estimated_task.second_peer == user.puples %}
                        <a class="task-list-page__container task-list-page__active-container" style="pointer-events: auto;cursor: pointer" href="#">
                            <div class="task-list-page__container__theme-name">
                                <span>Задача на тему: “{{ estimated_task.original_task.task_level.level_theme }}”</span>
                                <br>
                                <span>{{ estimated_task.original_task.task_name }}</span>
                                <br>
                                <span>Уровень: {{ estimated_task.original_task.task_level.level_number }}</span>
                            </div>

                            <table class="table table-borderless task-list-page__container__table">
                                <thead>
                                <tr>
                                    <th scope="col">Твоя оценка</th>
                                    <th scope="col">Оценка системы</th>
                                    <th scope="col">Полученные баллы</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                        <td> - </td>
                                        <td>
                                            {% if estimated_task.system_mark %}
                                                {{ estimated_task.system_mark }}
                                            {% else %}
                                                -
                                            {% endif %}
                                        </td>
                                        <td>
                                            -
                                        </td>
                                </tr>
                                </tbody>
                            </table>
                        </a>
                        {% endif %}
                    {% endfor %}
{#                    </div>#}


                    <div class="estimate-tasks__tasks-section__estimated-tasks">
                    {% for estimated_task in estimated_tasks %}
                        {% if estimated_task.first_peer_mark is not None and estimated_task.first_peer == user.puples or estimated_task.second_peer_mark is not None and estimated_task.second_peer == user.puples %}
                            <a class="task-list-page__container task-list-page__active-container">
                            <div class="task-list-page__container__theme-name">
                                <span>Задача на тему: “{{ estimated_task.original_task.task_level.level_theme }}”</span>
                                <br>
                                <span>{{ estimated_task.original_task.task_name }}</span>
                                <br>
                                <span>Уровень: {{ estimated_task.original_task.task_level.level_number }}</span>
                            </div>
                            <table class="table table-borderless task-list-page__container__table">
                                <thead>
                                <tr>
                                    <th scope="col">Твоя оценка</th>
                                    <th scope="col">Оценка системы</th>
                                    <th scope="col">Полученные баллы</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    {% if estimated_task.first_peer == user.puples %}
                                        <td>
                                            {{ estimated_task.first_peer_mark }}
                                        </td>
                                    {% elif estimated_task.second_peer == user.puples %}
                                        <td>
                                            {{ estimated_task.second_peer_mark }}
                                        </td>
                                    {% endif %}

                                        <td>
                                            {% if estimated_task.system_mark %}
                                                {{ estimated_task.system_mark }}
                                            {% else %}
                                                -
                                            {% endif %}
                                        </td>
                                        <td>
                                            -
                                        </td>
                                </tr>
                                </tbody>
                            </table>
                        </a>
                        {% endif %}
                    {% empty %}
                         <h3 class="text-center">Нет задач на оценивание</h3>
                    {% endfor %}
                    </div>

                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block scripts_include %}
    <script>
        const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;


        $('#estimate-tasks__change-languages__buttons button').on('click', function () {
            this.classList.toggle('active');
        })

        $("#estimate-tasks__change-languages__submit__button").on('click', function () {

            let activeProgrammingLanguages = $('#estimate-tasks__change-languages__buttons button.active'),
                    enumerateActiveProgrammingLanguages = 0;

            if (activeProgrammingLanguages.length === 0) {
                $('#estimate-tasks__change-languages__submit__empty-error-label').fadeIn();
                return false;
            }

            $("#estimate-tasks__change-languages__loader").fadeIn();
            $('#estimate-tasks__change-languages__loader').removeClass('d-none');
            $('#estimate-tasks__change-languages__loader').addClass('d-flex');


            let data = new FormData();

            data.append("actionSetProgrammingLanguages", 'true');

            for (let index of activeProgrammingLanguages) {
                data.append("setProgrammingLanguage" + enumerateActiveProgrammingLanguages, activeProgrammingLanguages[enumerateActiveProgrammingLanguages].textContent);
                enumerateActiveProgrammingLanguages++;
            }

            fetch(location.origin + '/tasks/set_student_settings/', {
                method: 'POST',
                mode: 'same-origin',  // Do not send CSRF token to another domain.
                headers: {"X-CSRFToken": csrfToken},
                body: data
            }).then(function (response) {
                if (!response.ok) {
                    showAlertElement("Произошла ошибка, попробуйте перезагрузить страницу и попробовать снова.")
                    return false
                }

                return response.json();
            }).then(function (json) {
                console.log(json)
            if (json) {
                    $('#estimate-tasks__change-languages__loader').hide();
                    $('#estimate-tasks__change-languages__loader').addClass('d-none');
                    $('#estimate-tasks__change-languages__loader').removeClass('d-flex');
                    $('#estimate-tasks__change-languages__submit__empty-error-label').fadeOut();
                    showAlertElement("Набор языков успешно сохранён", success=true);
                }
            });

        })
    </script>
{% endblock %}

{% block detail_active_tasks_to_check %}active{% endblock %}