{% extends 'tacks_education_system/tacks_education_system_base_template.html' %}
{% load static %}

{% block main %}

<div class="container">
    <div class="row">
        <div class="col-2">
            <a class="task-page__main-back-buttons pr-3" href="/tasks/active_task">
                <span class="task-page__main-back-buttons__back-buttons">
                    <img src="{% static 'images/back_button.svg' %}" alt="<">
                    <img src="{% static 'images/back_button_hover.svg' %}" alt="<">
                </span>
                Все задачи
            </a>
        </div>
    </div>
</div>

{% endblock %}

{% block detail_active_active_task %}active{% endblock %}