{% extends 'tacks_education_system/tacks_education_system_base_template.html' %}
{% load static %}

{% block main %}
    <section>
        <div class="tasks-list-page__level-block">
            <h4 class="tasks-list-page__level-block__level-header">
                Уровень
            </h4>
            <div class="tasks-list-page__level-block__level-progress">
                <div class="pre-level level">
                    <img src="{% static 'images/task-list-page-done-level.svg' %}"
                         alt="done">
                    <span>{{ level|add:"-1" }}</span>
                </div>
                <hr class="level-line done">
                <div class="current-level level">
                    <img src="{% static 'images/task-list-page-done-level.svg' %}"
                         alt="done">
                    <span>{{ level }}</span>
                </div>
                <hr class="level-line">
                <div class="next-level level">
                    <img src="{% static 'images/task-list-page-not-done-level.svg' %}"
                         alt="not done">
                    <span>{{ level|add:"1" }}</span>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container-lg">
            <div class="row">
                <div class="col-4">
                    <h4 class="tasks-list-page__active-task-header">
                        Активная задача
                    </h4>
                </div>
                <div class="col-12">
                    {% if active_task %}
                        <a class="task-list-page__container task-list-page__active-container {% if active_task_period <= 0 %}task-actived{% endif %}" href="active_task/{{ active_task.id }}">
                            <div class="task-list-page__container__theme-name">
                                <span>Задача на тему: “{{ active_task.task_level.level_theme }}”</span>
                                <br>
                                <span>Уровень: {{ active_task.task_level.level_number }}</span>
                            </div>
                            <table class="table table-borderless task-list-page__container__table">
                                <thead>
                                <tr>
                                    <th scope="col">Время начала</th>
                                    <th scope="col">Время завершения</th>
                                    <th id="tasks-list-page__active-task__time-to-start-label" scope="col">
                                        {% if active_task_period <= 0 %}
                                            До конца
                                        {% else %}
                                            До начала
                                        {% endif %}
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td id="tasks-list-page__active-task__start-time">
                                        {% if active_task_period <= 0 %}
                                            Началось
                                        {% else %}
                                            {{ active_task.start_time }}
                                        {% endif %}
                                    </td>
                                    <td id="tasks-list-page__active-task__end-time">
                                        {{ active_task.end_time }}
                                    </td>
                                    <td id="tasks-list-page__active-task__time-amount">
                                        {{ active_task_period }}
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </a>
                    {% else %}
                        <h2>Активной задачи пока нет</h2>
                    {% endif %}


                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container-lg">
            <div class="row">
                <div class="col-lg-4 col-12">
                    <h4 class="tasks-list-page__active-task-header">
                        Прошлые решения
                    </h4>
                </div>
                <div class="col-12">
                    <div class="task-list-page__previous-tasks">

                        <a class="task-list-page__container"
                           href="active_task/4">
                            <div class="task-list-page__container__theme-name">
                                <span>Задача на тему: “Кортежи”</span>
                                <br>
                                <span>Уровень: 4</span>
                            </div>
                            <table class="table table-borderless">
                                <thead>
                                <tr>
                                    <th scope="col">Оценка Peer 1</th>
                                    <th scope="col">Оценка Peer 2</th>
                                    <th scope="col">Оценка системы</th>
                                    <th scope="col">Итог</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>-</td>
                                    <td>70</td>
                                    <td>-</td>
                                    <td>-</td>
                                </tr>
                                </tbody>
                            </table>
                        </a>

                        <a class="task-list-page__container"
                           href="active_task/3">
                            <div class="task-list-page__container__theme-name">
                                <span>Задача на тему: “Списки”</span>
                                <br>
                                <span>Уровень: 3</span>
                            </div>
                            <table class="table table-borderless">
                                <thead>
                                <tr>
                                    <th scope="col">Оценка Peer 1</th>
                                    <th scope="col">Оценка Peer 2</th>
                                    <th scope="col">Оценка системы</th>
                                    <th scope="col">Итог</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>66</td>
                                    <td>70</td>
                                    <td>57</td>
                                    <td>193</td>
                                </tr>
                                </tbody>
                            </table>
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block detail_active_active_task %}active{% endblock %}

{% block scripts_include %}

    <script>
        let reminderTimeTaskListPage = document.querySelector('#tasks-list-page__active-task__time-amount'),
            taskListActiveTaskStartLabel = document.querySelector('#tasks-list-page__active-task__start-time'),
            taskListActiveTaskEndLabel = document.querySelector('#tasks-list-page__active-task__end-time'),
            taskListActiveTaskTimeToStartLabel = document.querySelector('#tasks-list-page__active-task__time-to-start-label'),
            taskListActiveTaskAboutContainer = document.querySelector('.task-list-page__container');

        function startCountdownOnActiveTask() {
            taskListActiveTaskStartLabel.textContent = "Началось";
            taskListActiveTaskTimeToStartLabel.textContent = "До конца";
            reminderTimeTaskListPage.textContent = '{{ active_task_period_remainder }}';
            taskListActiveTaskAboutContainer.classList.add('task-actived');
            // Задача открыта, поставил отсчет до закрытия
            remainderTimeCounter(
                reminderTimeTaskListPage,
                "Задача закроется через минуту",
                function_on_end = () => {
                    taskListActiveTaskAboutContainer.classList.remove('task-actived');
                    taskListActiveTaskEndLabel.textContent = 'Завершилось'
                },
                message_type = false,
                red_color_toggle = true,
                set_red_end_message = true,
                end_message_alert = "Задача закрылась, ее решение больше нельзя отправлять.",
                end_message_alert_type = false,
            );
        }

        {% if active_task_period <= 0 %}
            startCountdownOnActiveTask();
        {% else %}
            // Задача еще не открыта, поставил отсчет до открытия
            remainderTimeCounter(
                reminderTimeTaskListPage,
                "Задача откроется через минуту",
                function_on_end = startCountdownOnActiveTask,
                message_type = true,
                red_color_toggle = false,
                set_red_end_message = false,
                end_message_alert = "Задача открылась, можно начать решать.",
                end_message_alert_type = true,
        );
        {% endif %}

    </script>

{% endblock %}