{% extends 'tacks_education_system/tacks_education_system_base_template.html' %}
{% load static %}

{% block document_title %}{{ task.task_name }}{% endblock %}

{% block head_links %}
    <link rel="stylesheet"
          href="{% static 'css/tacks_education_system/codemirror-5.58.1/lib/codemirror.min.css' %}">
    <link rel="stylesheet"
          href="{% static 'css/tacks_education_system/codemirror-5.58.1/theme/neat.min.css' %}">
    <link rel="stylesheet"
          href="{% static 'css/tacks_education_system/codemirror-5.58.1/theme/dracula.min.css' %}">
    <script src="{% static 'css/tacks_education_system/codemirror-5.58.1/lib/codemirror.js' %}"></script>
    <script src="{% static 'css/tacks_education_system/codemirror-5.58.1/mode/clike/clike.js' %}"></script>
    <script src="{% static 'css/tacks_education_system/codemirror-5.58.1/mode/python/python.js' %}"></script>
    <script src="{% static 'css/tacks_education_system/codemirror-5.58.1/addon/edit/matchbrackets.js' %}"></script>
{% endblock %}

{% block main %}
    <section class="task-page__past-header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="task-page__task-level-label">
                        Уровень {{ task.task_level.level_number }}
                    </h2>
                </div>
            </div>
            <div class="row task-page__back-button-row">
                <div class="col-6 col-lg-3">
                    <a class="task-page__main-back-buttons pr-lg-3"
                       href="/tasks/">
                        <span class="task-page__main-back-buttons__back-buttons">
                            <img src="{% static 'images/back_button.svg' %}"
                                 alt="<">
                            <img src="{% static 'images/back_button_hover.svg' %}"
                                 alt="<">
                        </span>
                        Все задачи
                    </a>
                </div>
                <div class="col-6 col-lg-4 ml-auto task-page__time-remainder">
                    Осталось времени: <span
                        id="task-page__time-remainder__time">{{ remainder_time_to_solve_a_task }}</span>
                </div>
            </div>
        </div>
    </section>

    <section class="task-page__task-description">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Название задачи -->
                    <h1 class="task-page__task-description__task-name">
                        {{ task.task_name | linebreaksbr }}
                    </h1>
                    <!-- Описание задачи -->
                    <p class="task-page__task-description__main-description">
                        {{ task.description_task | linebreaksbr }}
                    </p>
                    <!-- Формат ввода -->
                    <h2 class="task-page__task-description__input-format">
                        Формат ввода
                    </h2>
                    <p>{{ task.input_format | linebreaksbr }}
                    </p>
                    <h2 class="task-page__task-description__output-format">
                        Формат вывода
                    </h2>
                    <p>{{ task.output_format | linebreaksbr }}</p>
                    <!-- Если есть if not_empty -->
                    <h2 class="task-page__task-description__photos-header">
                        Фото для задачи
                    </h2>
                    <div class="task-page__task-description__photos">
                        {% if task.photo_1 %}
                            <img src="{{ task.photo_1.url }}" alt="">
                        {% endif %}
                        {% if task.photo_2 %}
                            <img src="{{ task.photo_2.url }}" alt="">
                        {% endif %}
                        {% if task.photo_3 %}
                            <img src="{{ task.photo_3.url }}" alt="">
                        {% endif %}
                    </div>

                    {% if task.example_input_1 %}
                        <div class="task-page__task-example">
                            <h2 class="task-page__task-example__header">
                                Пример 1
                                <!-- с помощью цикла или для конкретной порядковой записи свой блок -->
                            </h2>
                            <h3>
                                Ввод
                            </h3>
                            <pre class="task-page__task-example__data">{{ task.example_input_1 }}</pre>
                            <h3>
                                Вывод
                            </h3>
                            <pre class="task-page__task-example__data">{{ task.example_output_1 }}</pre>
                        </div>
                    {% endif %}


                    {% if task.example_input_2 %}
                        <div class="task-page__task-example">
                            <h2 class="task-page__task-example__header">
                                Пример 2
                                <!-- с помощью цикла или для конкретной порядковой записи свой блок -->
                            </h2>
                            <h3>
                                Ввод
                            </h3>
                            <pre class="task-page__task-example__data">{{ task.example_input_2 }}</pre>
                            <h3>
                                Вывод
                            </h3>
                            <pre class="task-page__task-example__data">{{ task.example_output_2 }}</pre>
                        </div>
                    {% endif %}

                    {% if task.example_input_3 %}
                        <div class="task-page__task-example">
                            <h2 class="task-page__task-example__header">
                                Пример 3
                                <!-- с помощью цикла или для конкретной порядковой записи свой блок -->
                            </h2>
                            <h3>
                                Ввод
                            </h3>
                            <pre class="task-page__task-example__data">{{ task.example_input_3 }}</pre>
                            <h3>
                                Вывод
                            </h3>
                            <pre class="task-page__task-example__data">{{ task.example_output_3 }}</pre>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

    <section class="task-page__insert-code">
        <div class="container">
            <div class="row">
                <div class="task-page__insert-code__loader">
                    <div class="spinner-border text-secondary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <br>
                    <span class="task-page__insert-code__loader__text">Задача отправляется</span>
                </div>
                <div class="col-12">
                    <ul class="nav nav-tabs" id="task-page__code-tabs"
                        role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active"
                               id="task-page__insert-code__write-code-tab"
                               data-toggle="tab"
                               href="#task-page__insert-code__write-code"
                               role="tab"
                               aria-controls="task-page__insert-code__write-code"
                               aria-selected="true">Набрать здесь</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link"
                               id="task-page__insert-code__insert-file-tab"
                               data-toggle="tab"
                               href="#task-page__insert-code__insert-file"
                               role="tab"
                               aria-controls="task-page__insert-code__insert-file"
                               aria-selected="false">Отправить файлом</a>
                        </li>
                    </ul>

                    <div class="col-lg-4 col-12 pt-4 pb-1 d-flex align-items-center">
                        <label class="my-1 mr-5"
                               for="task-page__lang-choose">Язык</label>
                        <select class="custom-select my-1 mr-sm-2"
                                id="task-page__lang-choose">
                            <option selected="selected" value="Python 3.7.3"
                                    data-lang="python">
                                Python 3.7.3
                            </option>
                            <option value="GNU c++17 7.3"
                                    data-lang="text/x-c++src">
                                GNU c++17 7.3
                            </option>
                            <option value="GNU C11 7.3"
                                    data-lang="text/x-csrc">
                                GNU C11 7.3
                            </option>
                        </select>
                    </div>

                    <div class="tab-content" id="task-page__code-tabs-content">
                        {% csrf_token %}
                        <div class="tab-pane fade show active"
                             id="task-page__insert-code__write-code"
                             role="tabpanel"
                             aria-labelledby="task-page__insert-code__write-code-tab">
                            <div class="col-lg-4 col-12 pb-4 pt-1 d-flex align-items-center task-page__change-code-theme">
                                <label class="my-1 mr-5"
                                       for="task-page__change-code-theme__select">Тема</label>
                                <select class="custom-select my-1 mr-sm-2"
                                        id="task-page__change-code-theme__select">
                                    <option selected="selected" value="default"
                                            data-theme-shade="light">
                                        Светлая
                                    </option>
                                    <option value="neat"
                                            data-theme-shade="light">
                                        Светлая (neat)
                                    </option>
                                    <option value="dracula"
                                            data-theme-shade="dark">
                                        Темная
                                    </option>
                                </select>
                            </div>
                            <div id="task-page__insert-code__write-code-tab__code-editor"></div>
                            <button type="button"
                                    class="btn btn-outline-success task-page__insert-code__write-code-tab__send-button">
                                Отправить
                            </button>
                        </div>
                        <div class="tab-pane fade col-lg-4 col-12"
                             id="task-page__insert-code__insert-file"
                             role="tabpanel"
                             aria-labelledby="task-page__insert-code__insert-file-tab">
                            <div class="custom-file my-3">
                                <input type="file"
                                       class="custom-file-input task__page-load-file-input"
                                       id="validatedCustomFile"
                                       accept=".py,.c,.cpp">
                                <label class="custom-file-label task__page-load-file-input__label"
                                       for="validatedCustomFile">
                                    Выбрать
                                </label>
                            </div>
                            <button type="button"
                                    class="btn btn-outline-success task-page__insert-code__insert-file-tab__send-button">
                                Отправить
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h3 class='text-center task-page__insert-code__time-end-label'>Время
            вышло.</h3>
    </section>

    <section class="task-page__last-solutions" style="{% if not solved_tasks_list %}display:none{% endif %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-12">
                    <h2 class="task-page__last-solutions__header-label">
                        Последние отправленные:</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <table class="task-page__last-solutions__table p-0">
                        <thead class="text-center">
                        <tr style="box-shadow: 0 0 0 1px rgba(13,35,67,.07),0 5px 15px -4px rgba(13,35,67,.4);">
                            <th scope="col">Время сдачи</th>
                            <th scope="col">Компилятор</th>
                            <!-- Вердикт и договор на встречу будет при разворачивании -->
                        </tr>
                        </thead>
                    </table>
                    <div class="accordion task-page__last-solutions__table__body"
                         id="accordionExample">
                        {% for solved_task in solved_tasks_list %}
                            <div class="card task-page__last-solutions__card">
                                <div class="card-header"
                                     id="heading{{ solved_task.id }}">
                                    <h2 class="mb-0">
                                        <button class="btn btn-block text-left collapsed"
                                                type="button"
                                                data-toggle="collapse"
                                                data-target="#collapse{{ solved_task.id }}"
                                                data-code=""
                                                aria-expanded="false"
                                                aria-controls="collapse{{ solved_task.id }}">
                                            <span class="task-page__last-solutions__table__body__row">
                                                <span class="task-page__last-solutions__table__body__row__time">
                                                    {{ solved_task.get_solution_time }}
                                                </span>
                                                <span class="task-page__last-solutions__table__body__row__lang">
                                                    {{ solved_task.task_programming_language }}
                                                </span>
                                            </span>
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapse{{ solved_task.id }}"
                                     class="collapse"
                                     aria-labelledby="heading{{ solved_task.id }}"
                                     data-parent="#accordionExample">
                                    <div class="card-body task-page__last-solutions__table__body__row__show-code-area">
                                        <pre>{{ solved_task.task_code }}</pre>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block detail_active_active_task %}active{% endblock %}
{% block scripts_include %}

    <script>

        if (window.navigator.platform == 'iPhone') {
            let inputFile = document.querySelector('#validatedCustomFile');
            inputFile.accept = 'all';
        }

        let remainderTime = document.querySelector("#task-page__time-remainder__time"),
            taskPageCodeSection = document.querySelector(".task-page__insert-code"),
            taskPageTimeEndLabel = document.querySelector('.task-page__insert-code__time-end-label'),
            expansionToMode = {
                'py': 'python',
                'c': 'text/x-csrc',
                'cpp': 'text/x-c++src'
            },
            modeToLang = {
                'python': 'Python 3.7.3',
                'text/x-csrc': 'GNU C11 7.3',
                'text/x-c++src': 'GNU c++17 7.3'
            };


        // Запуск отсчета времени для задачи
        remainderTimeCounter(
            remainderTime,
            "Осталось минута до закрытия задачи, успей отправить решение.",
            function_on_end = () => {
                deleteTaskPageInsertCodeArea();
                $(taskPageTimeEndLabel).fadeIn('slow');
            }
        );


        let programmingLangChooseOptions = document.querySelectorAll('#task-page__lang-choose option'),
            programmingLangChoose = document.querySelector('#task-page__lang-choose');


        let codeEditor = CodeMirror(document.querySelector("#task-page__insert-code__write-code-tab__code-editor"), {
            // Объект поля с вводом кода
            value: "class test(object):\n" +
                "    ''' Строка документации '''\n" +
                "    def __init__(self, mixin=\"Hello\"):\n" +
                "        self.mixin = mixin\n" +
                "        \n" +
                "    @property\n" +
                "    def mixin_getter(self):\n" +
                "        return self.mixin\n" +
                "    \n" +
                "def maximum(a, b):\n" +
                "    if a >= b:\n" +
                "        return a\n" +
                "    return b",
            mode: 'python',
            lineNumbers: true,
            dragDrop: true,
            tabSize: 4,
            indentUnit: 4,
            matchBrackets: true,
            theme: 'default',
        });


        codeEditor.on('drop', function (data, e) {
            /*
                При перетаскивании файла в поле с кодом, изменяется подстветка синтаксиса
                 и изменяется значение dropbox на нужный язык.
            */
            let file = e.dataTransfer.files[0];

            if ((file.name.split('.').length == 2) && (file.name.split('.')[1] in expansionToMode)) {
                let expansion = file.name.split('.')[1];

                programmingLangChooseOptions.forEach(function (option) {
                    option.selected = false
                })

                programmingLangChoose.querySelector(
                    `option[data-lang="${expansionToMode[expansion]}"]`
                ).selected = true;
                codeEditor.setOption("mode", expansionToMode[expansion]);
                codeEditor.setValue("");  // Очистка поля, чтобы новый был только файл открыт
                codeEditor.clearHistory();
            } else {
                e.preventDefault();
                e.stopPropagation();
                showAlertElement("Неверное расширение файла (поддерживаемые: '.py', '.c', '.cpp')");
            }
        });


        programmingLangChoose.onchange = function () {  // При изменении языка в dropbox, меняется подстветка синтаксиса
            let langToSelect = this.querySelector(`option[value='${this.value}']`);
            codeEditor.setOption("mode", langToSelect.dataset.lang);
        };


        // Кнопки для сдачи задачи
        let taskPageSendFileButton = document.querySelector('.task-page__insert-code__insert-file-tab__send-button'),
            taskPageSendCodeButton = document.querySelector('.task-page__insert-code__write-code-tab__send-button'),
            taskPageLoadSolutionFileInput = document.querySelector('.task__page-load-file-input'),
            taskPageLoadSolutionFileLabel = document.querySelector('.task__page-load-file-input__label');

        taskPageSendCodeButton.onclick = () => {
            let codeText = codeEditor.getValue(),
                codeLang = programmingLangChoose.value;

            sendTaskSolution(codeText, codeLang, 'code');
        }

        taskPageSendFileButton.onclick = () => {
            let file = taskPageLoadSolutionFileInput.files[0];
            if (file === undefined) {
                showAlertElement("Не загружен файл.");
                return
            }
            if (file.name.split('.').length === 2 && file.name.split('.')[1] in expansionToMode) {
                sendTaskSolution(file, programmingLangChoose.value, 'file');
            } else {
                showAlertElement("Неверное расширение файла (поддерживаемые: '.py', '.c', '.cpp')");
            }
        };

        taskPageLoadSolutionFileInput.onchange = function () {
            // Изменение надписи в input и выбор подходящего языка под разширение
            let file = this.files[0];
            if (file.name.split('.').length === 2 && file.name.split('.')[1] in expansionToMode) {
                let expansion = file.name.split('.')[1];

                programmingLangChooseOptions.forEach(function (option) {
                    option.selected = false;
                })

                programmingLangChoose.querySelector(
                    `option[data-lang="${expansionToMode[expansion]}"]`
                ).selected = true;
            }
            taskPageLoadSolutionFileLabel.textContent = file.name;
        };


        let taskPageChangeTheme = document.querySelector('#task-page__change-code-theme__select'),
            codeEditorHtmlElement = document.querySelector('.CodeMirror');

        function setOutlineToCodeEditor() {
            if (taskPageChangeTheme.querySelector(`option[value='${taskPageChangeTheme.value}']`).dataset.themeShade === 'light') {
                codeEditorHtmlElement.style = '-webkit-box-shadow:-1px 0 0 0 #e8e8e8 inset, 0 -1px 0 0 #e8e8e8 inset, -1px -1px 0 0 #e8e8e8, -1px 0 0 0 #e8e8e8, 0 -1px 0 0 #e8e8e8;box-shadow:inset -1px 0 0 0 #e8e8e8, inset 0 -1px 0 0 #e8e8e8, -1px -1px 0 0 #e8e8e8, -1px 0 0 0 #e8e8e8, 0 -1px 0 0 #e8e8e8;'
            } else {
                codeEditorHtmlElement.style = '-webkit-box-shadow:none;box-shadow:none;';
            }
        }

        taskPageChangeTheme.onchange = function () {
            setOutlineToCodeEditor();

            codeEditor.setOption('theme', this.value);

            localStorage.setItem('codeEditorTheme', this.value);
        };


        function setTaskPageCodeThemeFromMemory() {
            let theme = localStorage.getItem('codeEditorTheme')
            if (theme) {
                codeEditor.setOption('theme', theme);
                taskPageChangeTheme.value = theme;
            }
            setOutlineToCodeEditor();
        }

        window.onload = function () {
            setTaskPageCodeThemeFromMemory();
        }
    </script>

{% endblock %}