$done-level-color: #72DA8A
$not-done-level-color: rgb(167, 167, 167)

*
  margin: 0
  padding: 0
  font-family: Montserrat, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"

body
  font-family: Montserrat, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"

input
  -webkit-user-select: auto !important
  -khtml-user-select: auto !important
  -moz-user-select: auto !important
  -ms-user-select: auto !important
  -o-user-select: auto !important
  user-select: auto !important


a
  color: inherit
  text-decoration: none

  &:hover
    text-decoration: none
    color: inherit

h1
  color: inherit
  font-size: 40px
  font-weight: 600
  line-height: 50px

h2
  font-size: 25px
  font-weight: 600
  line-height: 30px

h3
  font-size: 22px
  font-weight: 500
  line-height: 28px

p
  font-size: 16px
  font-style: normal
  font-weight: 400
  line-height: 23px
  text-align: left
  padding: 0
  margin: 0

ol, ul, dl
  list-style: none
  margin: 0
  padding: 0

.CodeMirror
  height: 480px
  -webkit-box-shadow: -1px 0 0 0 #e8e8e8 inset, 0 -1px 0 0 #e8e8e8 inset, -1px -1px 0 0 #e8e8e8, -1px 0 0 0 #e8e8e8, 0 -1px 0 0 #e8e8e8
  box-shadow: inset -1px 0 0 0 #e8e8e8, inset 0 -1px 0 0 #e8e8e8, -1px -1px 0 0 #e8e8e8, -1px 0 0 0 #e8e8e8, 0 -1px 0 0 #e8e8e8
  border-radius: 3px
  padding-bottom: 1px

  & *
    font-family: monospace !important
    font-size: 16px

.CodeMirror-code
  font-size: 18px

.CodeMirror-gutters
  background-color: white !important

.btn
  &:focus, &.focus
    box-shadow: none

.custom-file-label
  overflow: auto

.close-block-on-loader
  display: none
  justify-content: center
  align-items: center
  height: 100%
  position: absolute
  z-index: 999
  width: 100%
  background: rgba(255,255,255,.8)

.link-navbar
  padding: 8px 11px !important

  &.active
    font-weight: 400

  &:hover
    color: #000

.navbar-nav
  margin-left: 40px

.task-page__past-header
  padding: 0 0 55px 0

.task-page__task-level-label
  text-align: center
  padding-top: 55px

.tasks-amount-to-check
  transform: translate(-5px, -10px)
  background-color: #FF4700
  color: #fff
  padding: 3px 5px

.task-page__back-button-row
  padding-top: 25px
  display: flex
  align-items: center

.task-page__main-back-buttons
  display: flex
  align-items: center
  width: fit-content

  & .task-page__main-back-buttons__back-buttons img:first-child
    position: relative

  &:hover
    & .task-page__main-back-buttons__back-buttons img:last-child
      opacity: 1

    & .task-page__main-back-buttons__back-buttons img:first-child
      opacity: 0

.task-page__main-back-buttons__back-buttons
  padding-right: 20px
  display: flex
  justify-content: center
  align-items: center
  position: relative

  & img
    position: absolute
    transition: 0.3s

    &:last-child
      opacity: 0

.task-page__time-remainder
  text-align: right
  font-weight: 300

  & #task-page__time-remainder__time
    font-weight: initial

.task-page__task-description
  & p
    padding: 20px 0px 55px

.task-page__task-description__photos
  display: flex
  padding-top: 20px

  & img
    width: 350px
    height: fit-content

  & img:nth-child(2)
    margin: 0 20px

.task-page__task-example
  & h3
    color: #484848

.task-page__task-example__header
  margin: 55px 0 15px
  color: rgb(72, 72, 72)

.task-page__task-example__data
  font-size: 18px
  font-family: monospace !important

.task-page__insert-code
  margin-top: 55px

  & .container .row
    position: relative

    & .task-page__insert-code__loader
      position: absolute
      width: 100%
      height: 100%
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
      z-index: 999
      background: rgba(255, 255, 255, 0.8)
      visibility: hidden
      opacity: 0
      transition: 0.3s

      & .task-page__insert-code__loader__text
        font-weight: 600
        font-size: 20px

  & .nav-link
    color: rgb(30, 139, 255)
    padding: 0.4rem 1rem

    &.active
      color: #5c646d

.task-page__change-code-theme
  display: flex

//.task-page__last-solutions
  //display: none

.task-page__insert-code__write-code-tab__send-button
  margin: 25px 0 55px

.task-page__insert-code__insert-file-tab__send-button
  margin-bottom: 55px

.task-page__insert-code__time-end-label
  display: none

.task-page__last-solutions__table
  margin-bottom: 5px
  position: relative
  width: 100%

  & tr
    padding: 5px
    margin: 10px 0
    min-height: 65px
    display: flex
    justify-content: space-around
    align-items: center
    border-radius: 10px
    -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, .1), 0 2px 6px 0 rgba(0, 0, 0, .1)
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, .1), 0 2px 6px 0 rgba(0, 0, 0, .1)

    & td, & th
      text-align: center
      width: 50%

.task-page__last-solutions__table__body__row
  display: flex
  justify-content: space-between
  width: 100%

  & span
    color: initial
    width: 50%
    text-align: center

    &:hover
      text-decoration: none

.task-page__last-solutions__table__body__row__show-code
  cursor: pointer
  text-decoration: underline

  &:hover
    color: #666

.task-page__last-solutions__table__body__row__show-code-area
  padding-left: 20px

.task-page__last-solutions__card
  border-radius: 10px

  & .card-header
    background-color: white
    transition: 0.3s

    &:hover
      background-color: rgba(0, 0, 0, 0.02)


// List tasks page
.tasks-list-page__level-block
  padding-top: 55px
  text-align: center

.tasks-list-page__level-block__level-header
  font-size: 30px
  font-weight: 500
  letter-spacing: 0.03em

.tasks-list-page__level-block__level-progress
  display: flex
  justify-content: center
  align-items: center
  margin-top: 20px

  & .level-line
    margin: 0px 10px
    width: 17vw
    height: 1px
    background: $not-done-level-color

    &.done
      background: $done-level-color

  & .next-level span
    color: $not-done-level-color !important

  & .level
    display: flex
    align-items: center
    justify-content: center
    text-align: center
    position: relative
    height: 50px
    width: 50px

    &.current-level
      width: 80px
      height: 80px

      & span
        font-size: 40px

      & img
        width: 100%
        height: 100%

    & span
      color: #fff
      font-weight: 400
      font-size: 23px
      position: absolute

.tasks-list-page__active-task-header
  padding-top: 55px
  padding-bottom: 15px
  font-weight: 300
  letter-spacing: 0.02em
  font-size: 25px

.task-list-page__container
  display: flex
  align-items: center
  border-radius: 15px
  width: 100%
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1)
  min-height: 125px
  color: #484848
  background-color: white
  transition: 0.3s
  margin-bottom: 30px
  &:hover
    background: #f5f5f5
  &.task-list-page__active-container
    cursor: default
    pointer-events: none

  & .task-list-page__container__theme-name
    text-align: center
    width: 350px
    height: 100%
    padding: 30px
    border-right: 1px rgba(0, 0, 0, 0.1)

  & table
    box-shadow: -1px 0 0px rgba(0, 0, 0, .1)
    margin: 0
    text-align: center
    width: calc(100% - 380px)

    &.task-list-page__container__table th, &.task-list-page__container__table td
      width: 33%

  &.task-actived
    cursor: pointer
    background: rgba(0, 255, 0, 0.1)
    pointer-events: auto

    &:hover
      background: rgba(0, 255, 0, 0.15)


// Settings pages
.settings_page__other-settings
  padding-top: 55px
  & h4
    font-size: 40px
    padding-bottom: 10px

.settings_page__level-settings
  & .settings_page__level-settings__header
    padding-top: 55px
    font-size: 30px
    font-weight: 500 !important

  & .settings_page__level-settings__level-more-open-button.collapsed
    & .active-buttons .open-icon-angle svg
      transform: rotate(0deg)

  & .task-page__last-solutions__table__body__row
    font-size: 18px
    & span
      width: max-content
    & .description-task
      display: flex
      width: 75%
      white-space: nowrap
      overflow: auto
      & span
        padding-left: 45px
    & .active-buttons .open-icon-angle svg
      transition: 0.35s
      transform: rotate(180deg)

#settings_page__add-new-level__theme-input
  margin-top: 15px

.settings_page__level-settings__add-level-btn,
.settings_page__level-settings__add-task-btn
  cursor: pointer
  width: 2.5em
  height: 2.5em
  margin-bottom: 20px
  & svg
    transition: 0.3s ease-in-out
    width: 100%
    height: 100%
    &:hover
      transform: rotate(180deg)

.settings_page__level-change-theme-btn
  cursor: pointer
  text-decoration: underline
  & svg
    opacity: 0
    transition: 0.3s
    position: absolute
    transform: translate(5px, 20%)
  &:hover
    & svg
      opacity: 1

.settings_page__level-settings__add-level-btn,
.settings_page__level-settings__add-task-btn
  height: 2.5em
  width: 2.5em
  cursor: pointer
  margin-bottom: 20px

.settings_page__add-new-task__modal
  max-width: 75%

.settings_page__level-settings__level-description
  & .start-date p, & .end-date p
    font-weight: 600
    font-size: 1.1em

.settings_page__level-settings__task-amount-label
  font-size: 20px
  display: flex
  flex-direction: column
  justify-content: center
  height: 100%
  & span
    padding-left: 5px

.edit-level-page__form__submit-button-container
  width: 100%
  display: flex
  justify-content: center

.back-button-section
  padding-top: 55px

#welcome-page__system-description
  & a
    color: #007bff
    &:hover
      color: #0056b3

@media screen and (max-width: 992px)
  .task-list-page__container
    & .task-list-page__container__theme-name
      width: 220px

    & table
      width: calc(100% - 230px)

@media screen and (max-width: 768px)
  .navbar-nav
    margin: 0 !important

  h2
    font-size: 23px

  h3
    font-size: 18px

  .task-page__main-back-buttons__back-buttons
    padding-right: 10px

  .task-page__task-example__data
    font-size: 16px

  .task-page__task-description__photos
    flex-direction: column

    & img
      width: 100%
      margin: 0 !important

  .task-list-page__container
    flex-direction: column
    & .task-list-page__container__theme-name
      width: 100%

    & table
      box-shadow: none
      width: 100%

  .settings_page__level-settings
    & .card-header
      padding: 12px 0
    & .task-page__last-solutions__table__body__row .description-task span
      padding-left: 5px

  .settings_page__level-change-theme-btn
    text-decoration: none
    & svg
      opacity: 1


@media screen and (max-width: 576px)
  .task-list-page__container
    flex-direction: column
    & .task-list-page__container__theme-name
      width: 100%

    & table
      box-shadow: none
      width: 100%

  .settings_page__add-new-task__modal
    max-width: 100%

  .task-page__last-solutions__table__body__row
    & .description-task
      flex-direction: column