* {
  margin: 0;
  padding: 0;
  font-family: Montserrat, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
  font-family: Montserrat, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: inherit;
}

h1 {
  color: inherit;
  font-size: 40px;
  font-weight: 600;
  line-height: 50px;
}

h2 {
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
}

h3 {
  font-size: 22px;
  font-weight: 500;
  line-height: 28px;
}

p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  text-align: left;
  padding: 0;
  margin: 0;
}

.CodeMirror {
  height: 480px;
  -webkit-box-shadow: -1px 0 0 0 #e8e8e8 inset, 0 -1px 0 0 #e8e8e8 inset, -1px -1px 0 0 #e8e8e8, -1px 0 0 0 #e8e8e8, 0 -1px 0 0 #e8e8e8;
  box-shadow: inset -1px 0 0 0 #e8e8e8, inset 0 -1px 0 0 #e8e8e8, -1px -1px 0 0 #e8e8e8, -1px 0 0 0 #e8e8e8, 0 -1px 0 0 #e8e8e8;
  border-radius: 3px;
  padding-bottom: 1px;
}
.CodeMirror * {
  font-family: monospace !important;
  font-size: 16px;
}

.CodeMirror-code {
  font-size: 18px;
}

.CodeMirror-gutters {
  background-color: white !important;
}

.btn:focus, .btn.focus {
  box-shadow: none;
}

.link-navbar {
  padding: 8px 11px !important;
}
.link-navbar.active {
  font-weight: 400;
}
.link-navbar:hover {
  color: #000;
}

.navbar-nav {
  margin-left: 40px;
}

.task-page__past-header {
  padding: 0 0 55px 0;
}

.task-page__task-level-label {
  text-align: center;
  padding-top: 55px;
}

.tasks-amount-to-check {
  position: absolute;
  right: -20px;
  top: -17px;
  background: #FF4700;
  width: 25px;
  height: 25px;
  max-height: 25px;
  max-width: 25px;
  border-radius: 100px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  line-height: 25;
}

.task-page__back-button-row {
  padding-top: 25px;
  display: flex;
  align-items: center;
}

.task-page__main-back-buttons {
  display: flex;
  align-items: center;
}
.task-page__main-back-buttons .task-page__main-back-buttons__back-buttons img:first-child {
  position: relative;
}
.task-page__main-back-buttons:hover .task-page__main-back-buttons__back-buttons img:last-child {
  opacity: 1;
}
.task-page__main-back-buttons:hover .task-page__main-back-buttons__back-buttons img:first-child {
  opacity: 0;
}

.task-page__main-back-buttons__back-buttons {
  padding-right: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.task-page__main-back-buttons__back-buttons img {
  position: absolute;
  transition: 0.3s;
}
.task-page__main-back-buttons__back-buttons img:last-child {
  opacity: 0;
}

.task-page__time-remainder {
  text-align: right;
  font-weight: 300;
}
.task-page__time-remainder #task-page__time-remainder__time {
  font-weight: initial;
}

.task-page__task-description p {
  padding: 20px 0px 55px;
}

.task-page__task-description__photos {
  display: flex;
  padding-top: 20px;
}
.task-page__task-description__photos img {
  width: 350px;
  height: fit-content;
}
.task-page__task-description__photos img:nth-child(2) {
  margin: 0 20px;
}

.task-page__task-example h3 {
  color: #484848;
}

.task-page__task-example__header {
  margin: 55px 0 15px;
  color: #484848;
}

.task-page__task-example__data {
  font-size: 18px;
  font-family: monospace !important;
}

.task-page__insert-code {
  margin-top: 55px;
}
.task-page__insert-code .container .row {
  position: relative;
}
.task-page__insert-code .container .row .task-page__insert-code__loader {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 999;
  background: rgba(255, 255, 255, 0.8);
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
}
.task-page__insert-code .container .row .task-page__insert-code__loader .task-page__insert-code__loader__text {
  font-weight: 600;
  font-size: 20px;
}
.task-page__insert-code .nav-link {
  color: #1e8bff;
  padding: 0.4rem 1rem;
}
.task-page__insert-code .nav-link.active {
  color: #5c646d;
}

.task-page__change-code-theme {
  display: flex;
}

.task-page__last-solutions {
  display: none;
}

.task-page__insert-code__write-code-tab__send-button {
  margin: 25px 0 55px;
}

.task-page__insert-code__insert-file-tab__send-button {
  margin-bottom: 55px;
}

.task-page__insert-code__time-end-label {
  display: none;
}

.task-page__last-solutions__table {
  margin-bottom: 5px;
  position: relative;
  width: 100%;
}
.task-page__last-solutions__table tr {
  padding: 5px;
  margin: 10px 0;
  min-height: 65px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1), 0 2px 6px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1), 0 2px 6px 0 rgba(0, 0, 0, 0.1);
}
.task-page__last-solutions__table tr td, .task-page__last-solutions__table tr th {
  text-align: center;
  width: 50%;
}

.task-page__last-solutions__table__body__row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.task-page__last-solutions__table__body__row span {
  color: initial;
  width: 50%;
  text-align: center;
}
.task-page__last-solutions__table__body__row span:hover {
  text-decoration: none;
}

.task-page__last-solutions__table__body__row__show-code {
  cursor: pointer;
  text-decoration: underline;
}
.task-page__last-solutions__table__body__row__show-code:hover {
  color: #666;
}

.task-page__last-solutions__table__body__row__show-code-area {
  padding-left: 20px;
}

.task-page__last-solutions__card {
  border-radius: 10px;
}
.task-page__last-solutions__card .card-header {
  background-color: white;
  transition: 0.3s;
}
.task-page__last-solutions__card .card-header:hover {
  background-color: rgba(0, 0, 0, 0.03);
}

@media screen and (max-width: 768px) {
  .navbar-nav {
    margin: 0 !important;
  }

  h2 {
    font-size: 23px;
  }

  h3 {
    font-size: 18px;
  }

  .task-page__main-back-buttons__back-buttons {
    padding-right: 10px;
  }

  .task-page__task-example__data {
    font-size: 16px;
  }

  .task-page__task-description__photos {
    flex-direction: column;
  }
  .task-page__task-description__photos img {
    width: 100%;
    margin: 0 !important;
  }
}

/*# sourceMappingURL=style.css.map */
